autostart
catfish
coc
dconf
falkon
fcitx
flameshot
GIMP
google-chrome
gtk-2.0
gtk-3.0
Kvantum
manjaro
Mousepad
pamac
picgo
procps
pulse
qt5ct
qv2ray
ranger
Thunar
Typora
vlc
volumeicon
xfce4
manjaro-hello.json
mimeapps.list
QtProject.conf
user-dirs.dirs
user-dirs.locale
